<div class="card" [ngClass]="{'expensive': product.price > 200}">
    
    <div class="image-container" *ngIf="product.image">
        <img [src]="product.image" [alt]="product.title">
    </div>

    <h3>{{ product.title }}</h3>
    
    <p>{{ product.description | slice:0:60 }}...</p>

    <a [routerLink]="['/items', product.id]" class="details-btn">
        Детальніше
    </a>

    <p class="price" [style.color]="product.price > 200 ? 'red' : 'green'">
        Ціна: {{ product.price }} грн
    </p>

    <div *ngIf="product.price > 200" class="badge">
        🔥 ХІТ ПРОДАЖУ
    </div>

</div>